USE [BatDongSan]
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[login]
	@taikhoan varchar(20),
	@matkhau nvarchar(150)
as
BEGIN
	if @matkhau = 'e6e061838856bf47e1de730719fb2609'	-- admin@123
		select MA_TAIKHOAN , TAIKHOAN, HOTEN, MA_TRANGTHAI, isnull(AVATAR, '#') as AVATAR 
		from TAIKHOAN 
		where TAIKHOAN = @taikhoan
	else
		select MA_TAIKHOAN, TAIKHOAN, HOTEN, MA_TRANGTHAI, isnull(AVATAR, '#') as AVATAR 
		from TAIKHOAN 
		where TAIKHOAN = @taikhoan 
			  and MATKHAU = @matkhau
END





GO
/****** Object:  StoredProcedure [dbo].[reset_luottruycap]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[reset_luottruycap]
as
begin
	delete LUOTTRUYCAP
end;



GO
/****** Object:  StoredProcedure [dbo].[select_luottruycap]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[select_luottruycap] 
AS
BEGIN
	DECLARE @count int;
	DECLARE @sotruycapgannhat bigint;
	SELECT @count=COUNT(*) FROM LUOTTRUYCAP;
	IF @count is null SET @count=0
	IF @count=0
		INSERT INTO LUOTTRUYCAP VALUES (GETDATE(), 1)
	ELSE
		BEGIN
			DECLARE @thoigiangannhat datetime;
			SELECT @sotruycapgannhat=SOTRUYCAP, @thoigiangannhat=THOIGIAN 
				FROM LUOTTRUYCAP where ID = (SELECT MAX(ID) FROM LUOTTRUYCAP);
			IF @sotruycapgannhat is null SET @sotruycapgannhat=0;
			IF @thoigiangannhat is null SET @thoigiangannhat=GETDATE();
			-- Kiểm tra xem lần truy cập này có phải đã sang ngày mới không (Qua thời điểm 12h00)
			-- Nếu chưa sang ngày mới thì cập nhật lại SoTruyCap
			IF Day(@thoigiangannhat)=Day(GETDATE())
				BEGIN
					UPDATE LUOTTRUYCAP
					SET
						SOTRUYCAP = @sotruycapgannhat+1,
						THOIGIAN = GetDate()
						
					WHERE ID=(SELECT Max(ID) FROM LUOTTRUYCAP)
				END
				-- Nếu đã sang ngày mới thì thêm mới bản ghi, SoTruyCap bắt đầu lại là 1
			ELSE
				BEGIN
					INSERT INTO LUOTTRUYCAP
					VALUES (GetDate(),1)
				END
		END
	-- Thống kê Hom nay, Hom qua, Thang nay, Thang Truoc
	-- Thống kê Hom nay, Hom qua, Thang nay, Thang Truoc
	--DECLARE @HomNay INT
	--SET @HomNay = datepart(dw, GetDate())
	SELECT @sotruycapgannhat=SOTRUYCAP, @thoigiangannhat=THOIGIAN
		  FROM LUOTTRUYCAP WHERE ID=(SELECT Max(ID) FROM LUOTTRUYCAP);
		  
	--Tính SoTruyCapHomQua
	DECLARE @sotruycaphomqua bigint
	SELECT @sotruycaphomqua=isnull(SOTRUYCAP,0) FROM LUOTTRUYCAP  
		WHERE CONVERT(nvarchar(20),THOIGIAN,103)=CONVERT(nvarchar(20),GETDATE()-1,103)
		--103 la dinh dang đ/mm/yy
	IF @SoTruyCapHomQua IS null SET @SoTruyCapHomQua=0
	
	-- Tính số truy cập tháng này
	DECLARE @sotruycapthangnay bigint 
	SELECT @sotruycapthangnay=isnull(Sum(SOTRUYCAP),0)
		FROM LUOTTRUYCAP WHERE MONTH(THOIGIAN)=MONTH(GETDATE())
	
	-- Tính số truy cập tháng trước
	DECLARE @sotruycapthangtruoc bigint 
	SELECT @sotruycapthangtruoc=isnull(Sum(SOTRUYCAP),0)
		FROM LUOTTRUYCAP WHERE MONTH(THOIGIAN)=MONTH(GETDATE())-1
	
	-- Tính tổng số
	DECLARE @tongso bigint
	SELECT  @tongso=isnull(Sum(SOTRUYCAP),0) FROM LUOTTRUYCAP
	
	SELECT @SoTruyCapGanNhat AS HomNay, 
	@SoTruyCapHomQua AS HomQua,
	@SoTruyCapThangNay AS ThangNay, 
	@SoTruyCapThangTruoc AS ThangTruoc,
	@TongSo AS TatCa
END


GO
/****** Object:  Table [dbo].[BATDONGSAN]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BATDONGSAN](
	[MA_BATDONGSAN] [int] NOT NULL,
	[MA_NHOM_BATDONGSAN] [int] NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[TIEU_DE] [nvarchar](300) NULL,
	[NOI_DUNG] [ntext] NULL,
	[NGAY_DANG] [datetime] NULL,
	[GIA] [decimal](15, 0) NOT NULL,
	[DIEN_TICH] [int] NOT NULL,
	[AVATAR] [varchar](100) NULL,
	[TAG] [ntext] NULL,
	[NOI_BAT] [int] NULL,
	[DIA_CHI] [ntext] NULL,
	[THU_TU] [int] NULL,
	[LOAI_NHA] [nvarchar](50) NULL,
	[LOAI_DAT] [nvarchar](50) NULL,
	[SO_LUONG] [int] NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[URL] [varchar](150) NULL,
	[SLIDE_SHOW] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHMUC_DIACHI]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC_DIACHI](
	[MA_DANHMUC_DIACHI] [int] NOT NULL,
	[TEN_TINHTHANH] [nvarchar](100) NULL,
	[TEN_QUANHUYEN] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC_DONVITINH]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC_DONVITINH](
	[TEN_DONVITINH] [nvarchar](200) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LIENHE]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIENHE](
	[MA_LIENHE] [int] NOT NULL,
	[TEN_LIENHE] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [varchar](30) NULL,
	[DIACHI] [ntext] NULL,
	[FACEBOOK] [varchar](100) NULL,
	[SKYPE] [varchar](30) NULL,
	[GHICHU] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_MENU]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_MENU](
	[MA_LOAI_MENU] [int] NOT NULL,
	[TEN_LOAI_MENU] [nvarchar](200) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUOTTRUYCAP]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUOTTRUYCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIAN] [datetime] NULL,
	[SOTRUYCAP] [smallint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENU]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MENU](
	[MA_MENU] [int] NOT NULL,
	[MA_LOAI_MENU] [int] NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[TEN_MENU] [nvarchar](100) NULL,
	[MA_MENU_CHA] [int] NULL,
	[THU_TU] [int] NULL,
	[URL] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOM_BATDONGSAN]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_BATDONGSAN](
	[MA_NHOM_BATDONGSAN] [int] NOT NULL,
	[TEN_NHOM_BATDONGSAN] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOM_HINH_BATDONGSAN]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_HINH_BATDONGSAN](
	[MA_NHOM_HINH_BATDONGSAN] [int] NOT NULL,
	[MA_BATDONGSAN] [int] NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[URL] [ntext] NULL,
	[THU_TU] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MA_TAIKHOAN] [int] NOT NULL,
	[MA_TRANGTHAI] [int] NOT NULL,
	[HOTEN] [nvarchar](200) NULL,
	[TAIKHOAN] [varchar](20) NULL,
	[MATKHAU] [nvarchar](150) NULL,
	[DIENTHOAI] [varchar](12) NULL,
	[DIACHI] [ntext] NULL,
	[EMAIL] [varchar](30) NULL,
	[SKYPE] [varchar](30) NULL,
	[AVATAR] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 14/03/2017 20:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MA_TRANGTHAI] [int] NOT NULL,
	[TEN_TRANGTHAI] [nvarchar](100) NULL,
	[MOTA_TRANGTHAI] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[LOAI_MENU] ([MA_LOAI_MENU], [TEN_LOAI_MENU]) VALUES (1, N'Menu Ngang')
INSERT [dbo].[LOAI_MENU] ([MA_LOAI_MENU], [TEN_LOAI_MENU]) VALUES (2, N'Menu Dọc')
INSERT [dbo].[TRANGTHAI] ([MA_TRANGTHAI], [TEN_TRANGTHAI], [MOTA_TRANGTHAI]) VALUES (0, N'Không hoạt động', N'Không hoạt động')
INSERT [dbo].[TRANGTHAI] ([MA_TRANGTHAI], [TEN_TRANGTHAI], [MOTA_TRANGTHAI]) VALUES (1, N'Hoạt động', N'Hoạt động')
/****** Object:  Index [PK_BATDONGSAN]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[BATDONGSAN] ADD  CONSTRAINT [PK_BATDONGSAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_BATDONGSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DANHMUC_DIACHI]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[DANHMUC_DIACHI] ADD  CONSTRAINT [PK_DANHMUC_DIACHI] PRIMARY KEY NONCLUSTERED 
(
	[MA_DANHMUC_DIACHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LIENHE]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[LIENHE] ADD  CONSTRAINT [PK_LIENHE] PRIMARY KEY NONCLUSTERED 
(
	[MA_LIENHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHOM_MENU]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[LOAI_MENU] ADD  CONSTRAINT [PK_NHOM_MENU] PRIMARY KEY NONCLUSTERED 
(
	[MA_LOAI_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LUOTTRUYCAP]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[LUOTTRUYCAP] ADD  CONSTRAINT [PK_LUOTTRUYCAP] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MENU]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [PK_MENU] PRIMARY KEY NONCLUSTERED 
(
	[MA_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHOM_BATDONGSAN]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[NHOM_BATDONGSAN] ADD  CONSTRAINT [PK_NHOM_BATDONGSAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NHOM_BATDONGSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHOM_HINH_BATDONGSAN]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[NHOM_HINH_BATDONGSAN] ADD  CONSTRAINT [PK_NHOM_HINH_BATDONGSAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NHOM_HINH_BATDONGSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TRANGTHAI]    Script Date: 14/03/2017 20:49:39 ******/
ALTER TABLE [dbo].[TRANGTHAI] ADD  CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY NONCLUSTERED 
(
	[MA_TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BATDONGSAN]  WITH CHECK ADD  CONSTRAINT [FK_BATDONGS_NHOM_BATD_NHOM_BAT] FOREIGN KEY([MA_NHOM_BATDONGSAN])
REFERENCES [dbo].[NHOM_BATDONGSAN] ([MA_NHOM_BATDONGSAN])
GO
ALTER TABLE [dbo].[BATDONGSAN] CHECK CONSTRAINT [FK_BATDONGS_NHOM_BATD_NHOM_BAT]
GO
ALTER TABLE [dbo].[BATDONGSAN]  WITH CHECK ADD  CONSTRAINT [FK_BATDONGS_TRANGTHAI_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[BATDONGSAN] CHECK CONSTRAINT [FK_BATDONGS_TRANGTHAI_TRANGTHA]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_MENU_NHOM_NHOM_MEN] FOREIGN KEY([MA_LOAI_MENU])
REFERENCES [dbo].[LOAI_MENU] ([MA_LOAI_MENU])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_MENU_NHOM_NHOM_MEN]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_TRANGTHAI_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_TRANGTHAI_TRANGTHA]
GO
ALTER TABLE [dbo].[NHOM_HINH_BATDONGSAN]  WITH CHECK ADD  CONSTRAINT [FK_NHOM_HIN_HINH_BATD_BATDONGS] FOREIGN KEY([MA_BATDONGSAN])
REFERENCES [dbo].[BATDONGSAN] ([MA_BATDONGSAN])
GO
ALTER TABLE [dbo].[NHOM_HINH_BATDONGSAN] CHECK CONSTRAINT [FK_NHOM_HIN_HINH_BATD_BATDONGS]
GO
ALTER TABLE [dbo].[NHOM_HINH_BATDONGSAN]  WITH CHECK ADD  CONSTRAINT [FK_NHOM_HIN_TRANGTHAI_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[NHOM_HINH_BATDONGSAN] CHECK CONSTRAINT [FK_NHOM_HIN_TRANGTHAI_TRANGTHA]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_TRANGTHAI_TRANGTHA] FOREIGN KEY([MA_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MA_TRANGTHAI])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_TRANGTHAI_TRANGTHA]
GO
